* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #121212;
    font-family: 'Segoe UI', sans-serif;
}

.top_background img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    opacity: 0.3;
    z-index: -1;
}

.bot_background img {
    width: 100%;
    margin-bottom: -40px;
    margin-left: 0%;
    opacity: 0.3;
    z-index: -1;
}

main {
    flex: 1;
}

#travaux {
    color: brown;
    font-size: 1.2rem;
}

#biography {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    max-width: 1800px;
    padding: 20px;
}

.bio-text {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#biography img {
    width: 33vw;
    height: auto;
    margin-left: -40px;
    margin-top: -40px;
}

#biography h1 {
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#biography h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3a3a3a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#biography h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #1a1a1a;
    border-radius: 2px;
    margin-top: 4px;
}

#biography p {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

.pj-header-chs,
.exp-header-chs {
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #1a1a1a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.pj-header-chs {
    display: flex;
    margin-left: 40px;
    justify-content: flex-start;
}

.exp-header-chs {
    display: flex;
    margin-right: 40px;
    justify-content: flex-end;
}

.pj-chs,
.exp-chs {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 20px;
    gap: 30px;
    min-height: 400px;
    background-color: #121212;
}

.pj-chs {
    justify-content: flex-start;
}

.exp-chs {
    justify-content: flex-end;
}

.pj-chs-left,
.exp-chs-left {
    position: relative;
    display: flex;
    align-items: center;
}

#pj-bande-title,
#exp-bande-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #dbdbdb;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    position: relative;
}

#pj-bande-title::after,
#exp-bande-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #3f3f3f;
    border-radius: 2px;
    margin-top: 4px;
}

#pj-bande-text,
#exp-bande-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #b3b3b3;
}

.pj-chs-left,
.exp-chs-left {
    min-width: 500px;
    min-height: 250px;
    max-width: 500px;
    max-height: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.pj-chs-left img,
.exp-chs-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pj-chs-left::after,
.exp-chs-left::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(228, 210, 107, 0.1) 0%,
        rgba(97, 97, 97, 0.5) 90%,
        rgba(0,0,0,0.5) 100%
    );
    border-radius: 8px;
    pointer-events: none;
}

.pj-chs-right,
.exp-chs-right {
    max-width: 900px;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #c7c7c7;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover {
    transition: background-color 1.2s, transform 1.2s;
    background-color: #FFD700;
}

#pj-all-btn, #expli-pieces-jointes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-btn {
    display: block;
    height: 60px;
    width: 60%;
    margin: 10px auto;
    padding: 10px 15px;
    background: #1a1a1a;
    color: #f1f1f1;
    font-size: 1.6rem;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.black-btn:hover {
    transition: color 1.2s, transform 1.2s;
    color: #FFD700;
}

.btn-icon {
    height: 40px;
    width: 40px;
    filter: invert(1);
    object-fit: contain;
}

.arrow {
    background: #c7c7c7;
    color: black;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

.arrow:hover {
    transition: background-color 1.2s, transform 1.2s;
    background-color: #FFD700;
}

/*///////COMPETENCES///////*/

.competences {
    max-width: 80%;
    margin: 40px auto;
    padding: 0 20px;
}

.competences h1 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.competences p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 5px;
}

#searchBar {
    width: 100%;
    padding: 12px;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #1a1a1a;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background: #e6e6e6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill-card h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #3a3a3a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    position: relative;
}

/*///////EXPERIENCES///////*/

.experiences {
    max-width: 80%;
    margin: 40px auto;
    padding: 0 20px;
}

.experiences h1 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.experiences p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 5px;
}

.experience-card {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.experience-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}

.experience-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience-content {
    flex: 1;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #3a3a3a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    position: relative;
}

.pseudo-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #1a1a1a;
    border-radius: 2px;
    margin-top: 4px;
}

.experience-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

#left {
    display: block;
    justify-content: flex-start;
    text-align: left;
    margin-right: auto;
}

#right {
    display: block;
    justify-content: flex-end;
    text-align: right;
    margin-left: auto;
}

/*///////PROJETS///////*/

.projects {
    max-width: 80%;
    margin: 40px auto;
    padding: 0 20px;
}

.projects h1 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.projects p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 5px;
}

.project-card {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.project-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}

.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-content {
    flex: 1;
}

.project-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3a3a3a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    position: relative;
}

.project-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #1a1a1a;
    border-radius: 2px;
    margin-top: 4px;
}

.project-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.project-button {
    display: inline-block;
    padding: 10px 15px;
    background: #121212;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: color 1.2s, transform 1.2s;
}

.project-button:hover {
    color: #FFD700;
}

.banderau_introduction {
    margin-bottom: 40px;
}

.banderau_introduction h1{
    position: absolute;
    white-space: nowrap;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #f1f1f1;
    text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.3);
    padding-bottom: -20px;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.banderau_introduction img{
    display: block;
    width: 100%;
    height: 500px;
    filter: brightness(0.6);
    object-fit: cover;
    margin-top: -40px;
    border-radius: 4px;
    z-index: -1;
}

.ecl-text {
    justify-content: flex-start;
    max-width: 60%;
    text-align: left;
    margin-right: auto;
}

.ecr-text {
    justify-content: flex-end;
    max-width: 60%;
    text-align: right;
    margin-left: auto;
}

.expli-container-left,
.expli-container-right {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.expli-container-left p,
.expli-container-right p {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.expli-container-left h2,
.expli-container-right h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3a3a3a;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.expli-container-left h2::after,
.expli-container-right h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #1a1a1a;
    border-radius: 2px;
    margin-top: 4px;
}

.expli-container-left h2::after {
    margin-right: auto;
}

.expli-container-right h2::after {
    margin-left: auto;
}

.ecl-img,
.ecr-img {
    display: block;
    width: 40%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ecl-img {
    margin-left: 40px;
}

.ecr-img {
    margin-right: 40px;
}

/*///////HEADER///////*/

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 5px 40px;
    background: #1a1a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    height: 80px;
}

.header-nom-du-site h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
}

.header-nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header-nav-links a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 1.2s, transform 1.2s;
}

.header-nav-links a:hover {
    color: #FFD700;
    transform: scale(1.1);
}

.header-logo img {
    height: 100px;
    filter: invert(1);
}

/*///////FOOTER///////*/

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #1a1a1a;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    height: 180px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-list-title {
    color: #f1f1f1;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.footer-list-elements {
    list-style: none;
}

.footer-list-elements li {
    color: #f1f1f1;
    margin-bottom: 5px;
    font-size: 1rem;
}

.footer-list-elements a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 1.2s, transform 1.2s;
}

.footer-list-elements a:hover {
    color: #FFD700;
    transform: scale(1.1);
}

.footer-list-elements img {
    height: 16px;
    filter: invert(1);
    position: relative;
    top: 2px;
}

.footer-mention {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.7rem;
    font-style: italic;
    color: #949494;
}